@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Space Mono", monospace;

  --color-bg: #000000;
  --color-primary: #102c57;

  --color-text: #e5e7eb;
  --color-text-muted: #cbd5e1;

  --color-accent: #4ea8de;

  @keyframes shine {
  0% { left: -100%; }
  50% { left: 130%; }
  100% { left: 130%; }
}

}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

