@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Space Mono", monospace;

  --color-bg: #000000;
  --color-primary: #102c57;

  --color-text: #e5e7eb;
  --color-text-muted: #cbd5e1;

  --color-accent: #4ea8de;

  @keyframes shine {
  0% { left: -100%; }
  50% { left: 130%; }
  100% { left: 130%; }
}

}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

@keyframes loading-float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
}

@keyframes loading-progress {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading-binary {
  0%,
  100% {
    opacity: 0.3;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.animate-float {
  animation: loading-float 4s ease-in-out infinite;
}

.animate-progress {
  animation: loading-progress 2s ease-in-out infinite;
}

.animate-binary {
  animation: loading-binary 3s ease-in-out infinite;
}
